.stock-price {
  font-weight: bolder;
}

.stock-price-status {
  font-size: 4rem;
  line-height: 0.35;
}

.red {
  color: #ff3939e6;
}

.green {
  color: #46da46e6;
}

.grey {
  color: #cccccc;
}

.quote-values-container {
  display: flex;
}

.gain-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote {
  display: flex;
  align-items: center;

  text-shadow: 1px 1px 1px rgba(34, 34, 34, 0.58);

  font-weight: bolder;
  font-size: 100%;
  color: white;
}

.gain {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 35%;
}

.balance-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  gap: 10px;

  font-size: 3rem;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.9);
}

.balance-container > .stock-container {
  border-left: 1px solid rgba(255, 255, 255, 0.421);
  padding-left: 10px;
}

.top {
  font-weight: bold;
  font-size: 50%;
}

.bottom {
  font-weight: lighter;
  font-size: 50%
}

.quantity {
  font-size: 20%;
}

.quote-container {
  display: flex;
  flex-direction: row;
}

.status-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

  padding: 5px;
}
