[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
flask-cors = "*"
python-dotenv = "*"

[dev-packages]
types-requests = "*"

[requires]
python_version = "3.9"
